<aside class="logo">

        {% if page.url == '/index.html' or page.url == '/' %}
                {% assign link = 'https://github.com/agomezl' %}
                {% assign prompt = 'Ale's github!' %}
        {% else %}
                {% assign link = '/' %}
                {% assign prompt = 'Back to Home' %}
        {% endif %}

  <a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
    <img src="{{ site.logo_url }}" class="logo-avatar">
  </a>
  <span class="logo-prompt code">{{ prompt }}</span>

</aside>
